html {
	font-family: Calibri, Palatino, Arial;
	text-align: center;
	font-size: 12pt;
}

#main_header {
	margin: 0px;
	padding: 10px;
	background-color: #9999FF;
	margin-bottom: 15px;
}

h1 {
	margin: 0px;
	text-align: center;
	font-size: 40px;
}

.text_bg {
	margin: 0px;
	padding: 0px;
	background-color: #EEEEEE;
	margin-top: 25px;
	margin-bottom: 25px;
}

.text {
	text-align: left;
	padding: 10px;
	font-size: 12pt;
	max-width: 1000px;
	margin: 0 auto;
}

.text_links {
	text-align: center;
	padding: 10px;
	font-size: 20px;
	max-width: 1000px;
	margin: 0 auto;
}

.description {
	margin-top: 0px;
	text-align: left;
	padding: 10px;
	font-size: 16px;
	max-width: 1000px;
	margin: 0 auto;
}

p {
	margin: 0px;
}

.link {
	font-size: 12pt;
}

.entry_header {
	margin-bottom: 15px;
	padding: 10px;
	background-color: #FFDD55;
}

h2 {
	margin-top: 0px;
	margin: 0px;
}

h4 {
	text-align: left;
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.entry {
	display: inline-block;
	text-align: center;
	margin-bottom: 15px;
	min-width: 280px;
	min-height: 200px;
}

a {
	text-decoration: none;
}

img {
	margin: 0px;
	padding: 5px;
	clear: both;
	border: 0;
}

.full_image {
	margin-top: 15px;
	margin-bottom: 0px;
}

#links {
	text-align: center;
}

#video_container {
	margin-top: 25px;
}

iframe {
	display: block;
	margin: 0 auto;
	margin-bottom: 0px;
}

.desc {
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 12pt;
}

.cause {
	text-align: left;
	margin-bottom: 25px;
	font-size: 12pt;
}

.back {
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 15px;
	text-align: center;
}

#desc_title {
	margin-top: 15px;
}

footer {
	margin: 0px;
	padding: 5px;
	text-align: center;
	background-color: #DDDDDD;
}

.audio_title {
	margin-top: 20px;
	margin-bottom: 15px;
	padding: 10px;
	background-color: #DDDDDD;
}

.audio_title2 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 20px;
	padding: 10px;
}

.audio_entry {
	text-align: center;
	display: inline-block;
}

.red {
	color: red;
	font-weight: bold;
}

#helper {
	color: green;
	text-align: center;
}

.sid {
	font-size: 22px;
}